aiogram~=3.12
environs~=9.0
redis
betterlogging

# # For enabling api:
# backoff
# ujson
# yarl

# # For PostgreSQL sqlalchemy + alembic:
sqlalchemy~=2.0
alembic~=1.0
aiosqlite
async_lru
openai~=1.40
anthropic~=0.34
cachetools
pyrogram
chatgpt-md-converter
pydub
elevenlabs
pycountry
fastapi
uvicorn
asyncpg
emoji
apscheduler
opencv-python
numpy
pydub
runware